.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-item {
  position: relative;
  text-align: center;
}

.carousel-image {
  width: 100%;
  height: auto; /* Ensure image height is set */
  max-height: 300px; /* Adjust as necessary */
  object-fit: cover; /* Ensures the image scales correctly */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.carousel-text {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 0 20px;
}
