/* LoginPage.css */
.container1 {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  flex-direction: row;
}

.leftSide1 {
  width: 40%;
 
  background-color: #E6F0DC;
  align-items : center;
  justify-content: center; 
}

.image1 {
  width: 100%;
  padding: 20px;
  height: auto;
  border-radius: 10px;
}

.headingleft
{
  text-align: center;
  margin-top: 25%; 
  font-family:Georgia, 'Times New Roman', Times, serif;
}
.rightSide1 {
  width: 60%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.subHeading1 {
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
}

.form1 {
  width: 80%;
}

.inputGroup1 {
  margin-bottom: 15px;
}

.input1 {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button1 {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #38af60;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
}

.button1:hover {
  background-color: rgb(30, 107, 23);
  color: antiquewhite;
  font-weight: 400;
  font-size: large;
}
.adminLogin {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.adminLoginButton {
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.adminLoginButton:hover {
  color: #0056b3;
}


/* Mobile Styles */
@media screen and (max-width: 500px) {
  .container1 {
    flex-direction: column;
  }

  .leftSide1, .rightSide1 {
    width: 100%;
    height: 50%;
  }
  .headingleft{
    margin-top: 10%;
  }
  .image1{
    height: 100%;
    width: 100%;
  }
  .leftSide1 {
    order: 1; 
    margin-bottom: 20px;
    justify-content: first baseline;
  }

  .rightSide1 {
    order: 2; 
    height: auto; 
    padding: 40px 20px; 
  }

  .form1 {
    width: 100%; 
  }

  .heading1 {
    font-size: 20px;
  }

  .subHeading1 {
    font-size: 14px;
  }
}
