/* LoginPage.css */
.container1 {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.leftSide1 {
  width: 40%;
  background-color: #E6F0DC;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.image1 {
  margin-top: 30%;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.rightSide1 {
  width: 60%;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.heading1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.subHeading1 {
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
}

.form1 {
  width: 80%;
}

.inputGroup1 {
  margin-bottom: 15px;
}

.input1 {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button1 {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #94DEA5;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  
}
.button1:hover{
  background-color: rgb(1, 72, 48);
  color: antiquewhite;
  font-weight: 400;
  font-size: large;
}
